<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-book"></i> Books CRUD App
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">
                        <i class="fas fa-list"></i> All Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books/new">
                        <i class="fas fa-plus"></i> Add Book
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
